.assistant-container {
    padding: 30px;
    height: 85%;
}

.messages-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 95%;
    overflow: scroll;
    padding-bottom: 10px;
}

.message {
    padding: 20px;
    background-color: var(--purple);
    color: var(--white);
    border-radius: 20px;
    align-self: flex-end;
}

.assistant {
    color: black;
    background-color: var(--white);
    align-self: flex-start;
}

.user-input {
    border-radius: 30px;
    height: 30px;
    width: 100%;
    padding-left: 10px;
    font-family: "Funnel Sans", sans-serif;
    font-size: 16px;
}

.typing-indicator {
    display: flex;
    align-items: center;
    gap: 5px;
    /* Space between dots */
}

.typing-dot {
    width: 8px;
    height: 8px;
    background-color: var(--purple);
    /* Change to your desired color */
    border-radius: 50%;
    animation: typing 1.5s infinite ease-in-out;
}

.typing-dot:nth-child(2) {
    animation-delay: 0.2s;
}

.typing-dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes typing {
    0%, 80%, 100% {
        transform: scale(0);
        opacity: 0.3;
    }

    40% {
        transform: scale(1);
        opacity: 1;
    }
}