<div class="assistant-container">

    <div
        #messagesContainer
        class="messages-container">

        @for(message of messages; track message) {

            @if (message.isLoading) {

                <div
                    class="typing-indicator message assistant">

                    <div class="typing-dot"></div>

                    <div class="typing-dot"></div>

                    <div class="typing-dot"></div>
                </div>
            } @else {

                <div
                    class="message"
                    [class.assistant]="message.isAssistant"
                    [innerHTML]="message.text">
                </div>
            }
        }
    </div>

    <div class="input-container">

        <input
            #userInput
            class="user-input"
            (keydown.enter)="sendMessage()"
        />
    </div>
</div>
