:root {
    // Raw colors
    --white: #FFFFFF;
    --purple: #7265E3;

    // UX colors
    --menu-bg-color: #FFFFFF;
    --outer-bg-color: #E0E8F1;
    --main-bg-color: #F4F6FA;
    --menu-border-color: #F1F2F5;
}