.main-content {
    background-color: var(--main-bg-color);
    height: 100vh;
    position: relative;
}

.bottom-navigation {
    border-top: 1px solid var(--menu-border-color);
    background-color: var(--menu-bg-color);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 15px;
}

.nav-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}